<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-half">
        <p  class="title">
          <strong>Title:</strong>
          <span><%= @product.title %></span>
        </p>

        <p class="subtitle">
          <strong>Unit price:</strong>
          <span><%= @product.unit_price %></span>
        </p>
        <%= link_to 'Back', shops_path, class: 'button is-info is-rounded is-small' %>
      </div>
    </div>
  </div>
</section>
